
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Roboto', sans-serif;
}
/*=====Util class================ */
.btn-primary{
    background-color: #1DB954;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 300ms ease;
}
.btn-primary:hover{
    background: #1ED760;
    cursor: pointer;
}
.logo{
    height:40px ;
    width: auto;
}



/*========== navbar=============*/
#navbar{
    display: flex;
    background-color: rgba(0, 0, 0,0.6);
    color: white;
    justify-content: center;
    position: fixed;
    margin: 0%;
    width: 100%;
}
#navbar #navbar-container{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

#navbar #navbar-container ul{
    display: flex;
    list-style: none;
    font-weight: bold;
}
#navbar #navbar-container ul li{
    padding: 0 20px;
    transition: all 300ms ease;
}

#navbar #navbar-container ul li:hover{
    color: #1DB954;
    cursor: pointer;
    
}

#navbar #navbar-container ul li:nth-child(3){
    border-right: 1px solid white;
}

/*==========showcase==========*/

.showcase{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background:url("./assets/showcase.webp")center center/cover ;
    background-color: rgba(0, 0, 0,0.3);
    background-blend-mode: color;
}
.showcase .showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.showcase .showcase-containe, h2{
    font-size: 4rem;
}
.showcase .showcase-containe, p{
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 0;
}
/*==========FOOTER==========*/
#footer{
    background-color: black;
    color: white;
    padding: 80px 0;
}
#footer .footer-content{
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
   
    
}

#footer .footer-content .footer-menu{
    margin: 0 20px;
    list-style: none;
    
}
#footer .footer-content .footer-menu .footer-menu-intem{
    margin:25px 0;
    transition: all 300ms ease;
}

#footer .footer-content .footer-menu .footer-menu-intem:hover{
    color: #1ED760;
    cursor: pointer;
}
#footer .footer-content .footer-menu p {
    font-weight: bold;
    text-transform: uppercase;
    color: #929496;
    font-size: 0.7rem;
}
/*=========footer socials========== */
.socials{
    display: flex;
}
.socials i{
    margin: 0 20px;
    font-size: 1.4rem;
    transition: all 300ms ease;
}
.socials i:hover{
    color: #1DB954;
    cursor: pointer;
}
/*==========footer info=========== */

#footer .footer-info {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 60%;
    margin: auto;
    font-weight: bold;
    font-size: 0.75rem;
    padding-top: 50px;
    color: #929496;
}
.footer-info .footer-info-intems{
    display: flex;
    list-style: none;
}
.footer-info .footer-info-intems .footer-info-intem{
    padding: 0 10px;
    transition: all 300ms ease;
}
.footer-info .footer-info-intems .footer-info-intem:hover{
    color: #1ED760;
    cursor: pointer;
}
.footer-info .rights .country{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    
}
.footer-info .rights .country p{
    transition: all 300ms ease;
}
.footer-info .rights .country p:hover{
    color: #1ED760;
    cursor: pointer;
}
.footer-info .rights .country .brasil-flag{
    width: auto;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
    
}









